  body {
    box-sizing: border-box;
    background: #555;
    color: #988;
    font-family: monospace, sans-serif;
    font-weight: 400;
    /*margin: 5% 15%;*/
    font-size: 1.1em;
  }
div {
  padding: 2%;
}
.green-bg {
  background-color: green;
}
input, button {
  padding: auto;
  margin: 2vw auto;
  font-size: .8em;
  width: 20vw;
  height: 30px;
  border: 2px solid wheat;
  box-shadow: 2px 2px 12px  brown;
  color: maroon;
}
.coraltxt {
  color: coral;
}
.whtxt {
  color: wheat;
}
.infoDirBox {
  position: absolute;
  transform: translate3d(-50px, -30px, 0);
  /*top: 40px;*/
  width: 80vw;
  height: 60vh;
  background: rgba(40,16,16, .8);
  border: 1px solid grey;
  box-shadow: 2px 2px 22px brown;
}
.teal {
  color: #47a8b5;
}
